extends layout

block content
    .container
      .row.row-offcanvas
        .col-xs-12
          .jumbotron
            h1 #{site}
            p
              | A place to find insightful, relevant data sources with data visualization.
          .row#allArticles
            include partials/page/allArticles.html
            // /span
          // /row
        // /span
      // /row
    // /container
    footer
        include partials/page/jsdefaults.jade
        block jsdefaults
        script(src='/javascripts/index.js')
      