extends layout

block content
    .container
      .row.row-offcanvas
        .col-xs-12
          .jumbotron
            h1 #{site}
            p
              | A place to find insightful, relevant data sources with data visualization.
          .row
          -for (var i in articles)
            -var article = articles[i]
            .col-6.col-sm-6.col-lg-4
              h2 #{article.title}
              p 
                | #{article.content}
              p
                a(href="/articles/#{article.articleID}" role="button" class="btn btn-default") View Details &raquo;
            // /span
          // /row
        // /span
      // /row
    // /container
    footer
        include partials/page/jsdefaults.jade
        block jsdefaults
        script(src='/javascripts/index.js')
      