extends layout

block content
  .container.well
    .form-group.form-group-lg
      input(type="text" placeholder="Search for Articles...").form-control#search
  .container
    row#results
      include ./partials/page/allArticles.html
  footer
    include ./partials/page/jsdefaults
    block jsdefualts
    script(src="/javascripts/search.js")