extends layout

block content
  .container
    form(method="post" url="/api/users/").well
      h1 Create An Account
      p.subheading Please fill in account information.
      label Email
        input(type="text", name="email", id='user-tf').form-control.span4.required
      br
      label Password
        input(type="password", name="pwHash", id='pass-tf').form-control.span4.required
      br
      label City
        input(type="text", name="city", id='user-tf').form-control.span4.required
      br
      label State
        input(type="text", name="state", id='user-tf').form-control.span4.required
      br
      label Zip
        input(type="number", name="zip", id='user-tf').form-control.span4.required
      br
      label Position
        input(type="text", name="position", id='user-tf').form-control.span4.required
      br
      label Website
        input(type="text", name="website", id='user-tf').form-control.span4.required
      br
      label Field Name
        input(type="text", name="fieldName", id='pass-tf').form-control.span4.required
      br
      br
      button(type="submit")#btn-login.btn.btn-primary
        i.icon-lock.icon-white
        | Submit
      div.clear-fix #{error}
      hr