extends layout

block content
  .container#login-container
    form(method="post" url="/signin")#login-form.well
      h1 Sign In
      p.subheading Please Sign In To Your Account
      label Email
        input(type="text", name="email", id='user-tf').form-control.span4.required
      br
      label Password&nbsp
        input(type="password", name="pwHash", id='pass-tf').form-control.span4.required
      br
      button(type="submit")#btn-login.btn.btn-primary
        i.icon-lock.icon-white
        | Sign In
      div.clear-fix #{error}
      hr
      div.btm-links
        a(href='/signup')#create-account Create An Account